USE apartment_management_system;

UPDATE users SET password = 'RiY4v8zKqOgSdoYwnel62Q==:myQ42KaXf3n/Yel79DKVDhZIaFHY92F4gK3JqcPHa2w=' WHERE username = 'admin';
UPDATE users SET password = 'I9znU2mls6aXIxSbkwlAgg==:JWVmmEH2hszqTEWs7AhwGVUIwngPfQ10DDh8/G+YEz4=' WHERE username = 'manager1';
UPDATE users SET password = 'I9znU2mls6aXIxSbkwlAgg==:JWVmmEH2hszqTEWs7AhwGVUIwngPfQ10DDh8/G+YEz4=' WHERE username = 'manager2';
UPDATE users SET password = 't3vi6tbU1gJySAT2UoIYAg==:aWs0nNadZjhebXcYjrD44zH8dTll2eK4RaJ/CmljgTA=' WHERE username = 'tenant1';
UPDATE users SET password = 't3vi6tbU1gJySAT2UoIYAg==:aWs0nNadZjhebXcYjrD44zH8dTll2eK4RaJ/CmljgTA=' WHERE username = 'tenant2';
UPDATE users SET password = 't3vi6tbU1gJySAT2UoIYAg==:aWs0nNadZjhebXcYjrD44zH8dTll2eK4RaJ/CmljgTA=' WHERE username = 'tenant3';
